@model HMS_MVC_Two.Models.ApplicationUser;

<h2 class="text-center">User Registration</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Register" method="post">
                <div class="mb-3">
                    <strong><label asp-for="Name" class="form-label"></label></strong>
                    <input asp-for="Name"class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <strong><label asp-for="Email" class="form-label"></label></strong>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <strong><label asp-for="Password" class="form-label"></label></strong>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <strong><label asp-for="ConfirmPassword" class="form-label"></label></strong>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <strong><label asp-for="Phone" class="form-label"></label></strong>
                    <input asp-for="Phone" class="form-control"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <strong><label asp-for="Role" class="form-label"></label></strong>
                    <select asp-for="Role">
                        <option value="Patient">Patient</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>