.doctors-cards {
    display: flex;
    flex-wrap: wrap;           
    justify-content: center;   
    gap: 20px;                 
    margin: 20px;
}

.doctor-card {      
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px;
}

.doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}



.doctor-card img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.doctor-card h5 {
    font-size: 18px;
    margin: 8px  4px;
    font-weight: bold;
}

.doctor-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.btn-book {
    padding: 6px 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}

.btn-book:hover {
    background: #0056b3;
    color: black;
}
